.container, .Bestroom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-top: 20px;
  width: 301px;
  height: 380px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.myDIV {
  width: 300px;
  height: 185px;
  border-radius: 10px;
  text-align: center;
}

.imgInCard {
  width: 300px;
  height: 185px;
  border-radius: 10px;
}
.myDIV img{
  border: 1px solid black;

}
.myDIV h3{
  padding-top: 10px;
}
.myDIV p{
  padding: 15px;
  font-size: 0.7em;
  line-height: 1.5em;
}

.hide {
  display: none;
  z-index: 300;
  margin-top: -185px;
  background-color: aliceblue;
  width: 300px;
  height: 185px;
  text-align: center;
  padding-top: 25px;
}

.myDIV:hover + .hide {
  display: block;
  opacity: 65%;
}
.titlepage{
  text-align: center;
  margin-top: 60px;
}
